
<div class="row">
<form class="form-inline">
		<div class="form-group col-sm-6">
			<input class="form-control input-sm" ng-model="$ctrl.file.name" disabled style="width:260px">
			<button style="display:inline;margin-left:-6px;border-radius: 0px;" class="btn btn-sm btn-primary" 
				ng-click="console.log('test')"
				ngf-select ng-model="$ctrl.file" 
				name="file" 
				ngf-accept="$ctrl.typeSelector"
				>
				 <span class="glyphicon glyphicon-paperclip"></span> Select
			</button>
			<button ng-show="!$ctrl.file.name==''" class="btn btn-sm btn-danger" type="submit" ng-click="$ctrl.submit()" style="border-radius: 0px;">
				 <span class="glyphicon glyphicon-upload"></span>  Upload
			</button>
		</div>
		<div class="col-sm-6">
		
			<hr class="hidden-sm hidden-md hidden-lg">
			<div class="progress" style="margin:5px" ng-show="$ctrl.xfering==1">
				<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="{{$ctrl.progPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{$ctrl.progPercentage}}%">
				{{$ctrl.progPercentage}}
				</div>
			</div>
			<div ng-show="!$ctrl.uploadMessage==''"><span class="glyphicon glyphicon-tick"></span> {{$ctrl.uploadMessage}}</div>
		</div>
</form>
</div>
	