<div class="modal fade" id="{{$ctrl.modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{{$ctrl.modalTitle}}</h4>
			</div>
			<div class="modal-body" style="max-height:{{$ctrl.modalHeight}}; overflow-y: auto;">
				<div ng-transclude></div>
			</div>
			<div class="modal-footer">
				<button ng-show="$ctrl.buttonLabel!='*'" type="button" class="btn btn-warning" data-dismiss="modal" ng-click="$ctrl.apply()">{{$ctrl.buttonLabel}}</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>