<div class="well well-default">
<h4 style="text-align:center">Case Load Over Past 30 Days</h4>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Officer Name</th>
				<th>Applications Assigned</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="officer in $ctrl.report">
				<td>{{officer.firstName+" "+officer.lastName}}</td>
				<td>{{officer.applicationCount}}</td>
			</tr>
		</tbody>	
	</table>
	<form name="selOfficerForm" novalidate>
		<label>Select officer to be assigned case:</label>
		<select class="form-control" ng-model="$ctrl.selectedOfficer" ng-options="officer.username as officer.fullName for officer in $ctrl.report">
			<option value="">--Select One--</option>
		</select>
	</form>
	</div>		
</div>