 <div class="control-group">
		<label class="label-control">Upload classification</label>
		<select class="form-control input-sm" ng-model="$ctrl.data.filetype" ng-options="attType.id as attType.clsName for attType in $ctrl.attTypes">
		<option value="">--select one--</option>
		</select>
 </div>
<hr/>
<file-uploader 
	form-data="$ctrl.data" 
	type-selector="$ctrl.typeSelector()"
	save-url="$ctrl.getSaveUrl()"
	on-upload="$ctrl.updateAtt(data)"
	>
</file-uploader>