
<div>
	<div class="panel panel-default" style="background-color:">
		<div class="panel-body">
			<span class="glyphicon glyphicon-info"></span>
			<p>
			This task requires downloading the certificate draft, making the necessary modifications, 
			then uploading the completed document.
			<p>
			<p>
			To generate a draft, select the template to be used for its creation, then click the 
			'download certificate draft' link. 
			</p>
		</div>
	</div>
	<div class="control-group">
		<label>1) Select template to use for certificate:</label>
		<select class="form-control" ng-model='$ctrl.tplId.id' ng-options='tpl.id as tpl.templateName for tpl in $ctrl.tOptions'>
			<option value="">--Select One--</option>
		</select>
	</div>
	<div>
		<br/>
		<p ng-show="!$ctrl.tplId.id==''">
		  <strong>
			<a href="/api/applications/{{$ctrl.appId}}/certificate?templateId={{$ctrl.tplId.id}}">
				<span class="glyphicon glyphicon-download"></span> Download Certificate Draft
			</a>
		  </strong>
		</p>
	</div>
	<hr/>
	<label>2) Upload completed Certificate</label>
	
	<file-uploader 
	form-data="$ctrl.tplId" 
	type-selector="'.docx'"
	save-url="$ctrl.getSaveUrl()">
	</file-uploader>
</div>