<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css(.tmp) styles/default.css -->
    <link rel="stylesheet" href="styles/default.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webappApp">
    <!--[if lte IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <!-- navigation menu -->
			
		<div class="col-md-2 col-sm-1 display-table-cell valign-top hidden-xs" ng-attr-id="{{$root.authenticated  ? 'side-menu' : 'side-menu-hide'}}">
			<ui-menu></ui-menu>
		</div>
		
        <!-- Main content area -->
        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
	        <div class="row">
				<ui-topbar></ui-topbar>
	        </div>
			
			<div ng-view="" style="margin-bottom:50px"></div>
			
		    <div class="row">
	            <footer id="admin-footer" class="clearfix">
	              <div class="pull-left"><strong>Copyright </strong>&copy; 2016 PICA</div>
	              <div class="pull-right"><strong>CAPS</strong></div>
	            </footer>
			</div>
	    </div>
	    
      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/applicationservice.js"></script>
        <script src="scripts/controllers/new_application.js"></script>
        <script src="scripts/services/authentication.js"></script>
        <script src="scripts/services/usersservice.js"></script>
           
        <script src="components/activities/app-activities.js"></script>
        <script src="components/activities/activity.js"></script>
        <script src="components/appforms/app-header.js"></script>
        <script src="components/appforms/app-form.js"></script>
        <script src="components/appforms/app-summary.js"></script>
        <script src="components/appforms/desc-form.js"></script>
        <script src="components/appforms/renun-form.js"></script>
        <script src="components/ui/ui-menu.js"></script>
        <script src="components/ui/ui-topbar.js"></script>
        <script src="components/login/login.js"></script>
        <script src="components/applistview/applist-view.js"></script>
        <script src="components/activity-support/assign-officer.js"></script>
        <script src="components/activity-support/attach-support.js"></script>
        <script src="components/activity-support/prepare-certificate.js"></script>
        <script src="components/shared/modal-dlg.js"></script>
        <script src="components/shared/file-uploader.js"></script>
		<script src="components/dashboard/dashboard.js"></script>
        <script src="scripts/directives/uiaccess.js"></script>
        <script src="scripts/filters/dateonly.js"></script>
        <script src="scripts/directives/datetimepicker.js"></script>
        <!-- endbuild -->
     <script>
	    $(document).ready(function(){
	      $('[data-toggle="offcanvas"]').click(function(){
	        $('#side-menu').toggleClass('hidden-xs');
	      });
	      
	      $('[data-toggle="collapse"]').click(function(){
	        $(this).find('.expander').toggleClass('glyphicon-chevron-down');
	        $(this).find('.expander').toggleClass('glyphicon-chevron-left');
	      });
	    });
    </script>
</body>
</html>
