        <div id="dashboard-cont">
            <div class="row">
              <div class="col-md-6 dashboard-left-cell">
                <div class="dashboard-content-con">
                  <header class="clearfix">
                    <h5 class="pull-left">Articles</h5>
                    <a class="btn btn-primary btn-xs pull-right" href="#" role="button">Create New</a>
                  </header>
                  <table class="table table-striped">
                    <thead> 
                      <tr> 
                        <th>Title</th> <th>Replies</th><th>Date</th><th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>This is the first</td>
                        <td>20</td>
                        <td>2 days ago</td>
                        <td>
                          <a class="btn btn-xs btn-warning" role="button">Edit</a>
                          <a class="btn btn-xs btn-primary" role="button">View</a>
                          <a class="btn btn-xs btn-danger" role="button">Delete</a>
                        </td>
                      </tr> 
                      <tr>
                        <td>This is the first</td>
                        <td>20</td>
                        <td>2 days ago</td>
                        <td>
                          <a class="btn btn-xs btn-warning" role="button">Edit</a>
                          <a class="btn btn-xs btn-primary" role="button">View</a>
                          <a class="btn btn-xs btn-danger" role="button">Delete</a>
                        </td>
                      </tr> 
                      <tr>
                        <td>This is the first</td>
                        <td>20</td>
                        <td>2 days ago</td>
                        <td>
                          <a class="btn btn-xs btn-warning" role="button">Edit</a>
                          <a class="btn btn-xs btn-primary" role="button">View</a>
                          <a class="btn btn-xs btn-danger" role="button">Delete</a>
                        </td>
                      </tr>  
                    </tbody>
                  </table>
                  <div class="clearfix">
                    <a href="#" class="pull-right text-link">view all articles</a>  
                  </div>
                </div>
              </div>
              <div class="col-md-6 dashboard-right-cell">
                <div class="dashboard-content-con">
                  <header>
                    <h5>Comments</h5>
                  </header>
                  <div class="comment-head-dash clearfix">
                    <div class="commenter-name-dash pull-left">Edmund Mendez</div>
                    <div class="days-dash pull-right">2 days ago</div>
                  </div>
                  <p class="comment-dash">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <small class="comment-date-dash">Today 5:00pm 7/21/2016</small>
                  <hr/> 
                  
                  <div class="comment-head-dash clearfix">
                    <div class="commenter-name-dash pull-left">Edmund Mendez</div>
                    <div class="days-dash pull-right">2 days ago</div>
                  </div>
                  <p class="comment-dash">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <small class="comment-date-dash">Today 5:00pm 7/21/2016</small>
                  <hr/> 
                  <div class="clearfix">
                    <a href="#" class="pull-right text-link">view all comments</a>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 clearfix">
                <div class="dashboard-content-con">
                  <header><h5>Commenters</h5></header>
                  <table class="table table-bordered">
                      <thead> 
                        <tr> 
                          <th>#</th><th>Full Name</th><th>Email</th><th>Status</th><th>Created</th><th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Edmund Mendez</td>
                          <td>edmundm@gmail.com</td>
                          <td><a class="label label-default" >Pending</a></td>
                          <td>7/12/2015</td>
                          <td>
                            <a class="btn btn-xs btn-danger" role="button" >Delete</a>
                          </td>
                        </tr> 
                        <tr>
                          <td>2</td>
                          <td>Edmund Mendez</td>
                          <td>edmundm@gmail.com</td>
                          <td><a class="label label-success" >Active</a></td>
                          <td>7/12/2015</td>
                          <td>
                            <a class="btn btn-xs btn-danger" role="button" >Delete</a>
                          </td>
                        </tr> 
                        <tr>
                          <td>3</td>
                          <td>Edmund Mendez</td>
                          <td>edmundm@gmail.com</td>
                          <td><a class="label label-success" >Active</a></td>
                          <td>7/12/2015</td>
                          <td>
                            <a class="btn btn-xs btn-danger" role="button" >Delete</a>
                          </td>
                        </tr> 
                        <tr>
                          <td>4</td>
                          <td>Edmund Mendez</td>
                          <td>edmundm@gmail.com</td>
                          <td><a class="label label-default" >Pending</a></td>
                          <td>7/12/2015</td>
                          <td>
                            <a class="btn btn-xs btn-danger" role="button" >Delete</a>
                          </td>
                        </tr> 
                      </tbody>
                    </table>
                </div>  <!-- end dashboard-content-con -->  
              </div>  <!-- end col-md-12 -->  
          </div>  <!-- end row wrapper-->