<div class="panel panel-default" style="margin-top:100px; padding: 20px; width:600px;margin-left: auto; margin-right:auto">
<div class="alert alert-danger" ng-show="$ctrl.error">
	There was a problem logging in. Please try again.
</div>
<form role="form" ng-submit="$ctrl.login()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="$ctrl.credentials.username"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="$ctrl.credentials.password"/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>