<div class="dashboard-content-con">
      <header class="clearfix">
        <h5 class="pull-left">Applications</h5>
      </header>
<form novalidate ng-submit="newApplication.submit()">
	<button type="submit" class="btn btn-primary btn-sm">Create</button>
	<a href="#/applications" class="btn btn-primary btn-sm">Cancel</a><br/><br/>

  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" class="form-control" id="firstname" ng-model="newApplication.app.firstName">
  </div>
  <div class="form-group">
    <label for="middlenames">Middle Names:</label>
    <input type="text" class="form-control" id="middlenames" ng-model="newApplication.app.middleName">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" id="lastname" ng-model="newApplication.app.lastName">
  </div>

  <label for="middlenames">Gender:</label>
	<div class="radio">
	  <label>
	    <input type="radio" name="gender" id="gender" value="M" ng-model="newApplication.app.gender">Male
	  </label>
	  <label>
	    <input type="radio" name="gender" id="gender" value="F" ng-model="newApplication.app.gender">Female
	  </label>
	</div>
<div class="row">
	<div class="form-group col-md-2">
	    <label for="dob">DOB</label>
	    <input type="text" class="form-control" id="dob" ng-model="newApplication.app.birthDate" date-time-picker format="DD/MM/YYYY">
	</div>
</div>
<div class="row">
	<div class="form-group col-md-5">
	<label for="lastname">Application Type:</label>
	<select class="form-control" ng-options="apptype.value as apptype.name for apptype in newApplication.appTypes" ng-model="newApplication.app.applicationType">
  		<option value="">--Select one--</option>
	</select>
	</div>
</div>

</form>
</div>