<div class="completed-activity clearfix">
	<div class="pull-left" style="font-size:25px;padding:5px;">
		<span ng-class="['glyphicon',$ctrl.icon($ctrl.activity),$ctrl.iconColor($ctrl.activity)]"></span>
	</div>
	<div class="details">
		<header>{{::$ctrl.CONST_ACTIVITIES[$ctrl.activity.smState]}}</header>
		<section>
			<span  class="text-muted">{{::$ctrl.activity.dateStarted}} - {{$ctrl.activity.dateCompleted}}</span><br/>
			<span>{{::$ctrl.activity.completedBy.firstName +" "+ $ctrl.activity.completedBy.lastName}}</span>
		</section>
		<div ng-show="$ctrl.activity.comments" class="well">{{::$ctrl.activity.comments}}</div>
	</div>
</div>
