<div class="panel-default">
		<ul class="list list-unstyled">
			<div ng-repeat-start="activity in $ctrl.activities | orderBy:'-'" ng-if="$first">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{$ctrl.CONST_ACTIVITIES[activity.smState]}}</h4>
					</div>
					<div class="panel-body">
					Started: <span>{{activity.dateStarted}}</span><br/>
					Owner: <span>{{$ctrl.appOwner.firstName + " " + $ctrl.appOwner.lastName}}</span>
					
					<form novalidate>
						<div id="instructions">
							<span class="glyphicon glyphicon-info-sign"></span>
							<span>{{activity.instructions}}</span>
						</div>
						<div class="form-group" ng-if="$ctrl.appOwner.username===$ctrl.session.getUsername()">
							<label>Comments:</label><br/>
							<textarea class="form-control" style="min-width: 100%" ng-model="activity.comments"></textarea>
						</div>
						
						<!-- action buttons -->
						<div ng-if="!activity.requireApproval && $ctrl.appOwner.username===$ctrl.session.getUsername()">
							<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{activity.smState}}"><span class="glyphicon glyphicon-pencil"></span> Start</button>
							<button class="btn btn-danger btn-xs" ng-click="$ctrl.completeActivity(activity)"><span class="glyphicon glyphicon-play-circle"></span> Complete</button>
						</div>
						<div ng-if="activity.requireApproval && $ctrl.appOwner.username===$ctrl.session.getUsername()">
							<button class="btn btn-info btn-xs" ng-click="$ctrl.completeActivity(activity,'A')"><span class="glyphicon glyphicon-ok"></span> Approve</button>
							<button class="btn btn-warning btn-xs" ng-click="$ctrl.completeActivity(activity,'D')"><span class="glyphicon glyphicon-remove"></span> Decline</button>
						</div>
					</form>
					</div>	<!-- end panel body -->
					<modal-dlg on-apply="$ctrl.assignOfficer(data)" m-id="ASSIGN_OFFICER" m-title="Assign Officer" m-height="400px" m-width="200px" ng-if="activity.smState=='ASSIGN_OFFICER'">
						<assign-officer></assign-officer>
					</modal-dlg>
					
					<modal-dlg apply-label="*" m-id="ATTACH_SUPP_DOCS" m-title="Upload Files" m-height="400px" m-width="200px" ng-if="activity.smState=='ATTACH_SUPP_DOCS'">
						<attach-support app-id="$ctrl.appId"></attach-support>
					</modal-dlg>
					
					<modal-dlg apply-label="*" m-id="PREPARE_CERT" m-title="Prepare Certificate" m-height="400px" m-width="200px" ng-if="activity.smState=='PREPARE_CERT'">
						<prepare-certificate app-id="$ctrl.appId"></prepare-certificate>
					</modal-dlg>
					
				</div>
			</div>
			
			<!-- completed activities that are repeated -->
			<li ng-repeat-end ng-if="!$first">
				<app-activity activity='activity'></app-activity>
			</li>
		</ul>
</div>