<!-- div class="col-md-2 col-sm-1 display-table-cell valign-top hidden-xs" id="side-menu" ng-if="$root.authenticated" -->
  <h1 class="hidden-sm hidden-xs">Navigation</h1>
  <ul>
    <li class="link">
      <a href="#/dashboard" ng-class="{active : $root._activeM=='home'}">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        <span class="hidden-sm hidden-xs">Dashboard</span>
      </a>
    </li>
    <li class="link">
      <a href="#collapse-article" onclick="javascript:return false;" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-article" ng-class="{active : $root._activeM=='applications'}">
        <span class="glyphicon glyphicon-list-alt"></span>
        <span class="hidden-sm hidden-xs">Applications</span>&nbsp;
        <span class="label label-success hidden-sm hidden-xs">20</span>
        <span class="expander glyphicon glyphicon-chevron-left hidden-sm hidden-xs pull-right"></span>
      </a>
      <ul class="collapse collapseable" id="collapse-article">
      	  <li><a href="#/owned_applications">Owned</a></li>
          <li><a href="#/unclaimed_applications">Unclaimed</a></li>
          <li><a href="#/completed_applications">Completed</a></li>
      </ul>
    </li>

    <li class="link" ui-access="ROLE_ADMIN">
      <a href="#collapse-comments" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-comments">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span class="hidden-sm hidden-xs">Administration</span>
        <span class="expander glyphicon glyphicon-chevron-left hidden-sm hidden-xs pull-right"></span>
      </a>
      <ul class="collapse collapseable" id="collapse-comments">
          <li><a href="#/">Users & Roles</a></li>
          <li><a href="#/">Unapproved</a></li>
      </ul>
    </li>

  </ul>
<!-- /div -->