<header id="nav-header" class="clearfix" ng-show="$root.authenticated">
  <div class="col-md-5">
    <nav class="navbar-default pull-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </nav>
    <input type="text" class="hidden-xs hidden-sm" placeholder="search here" id="header-search-field">
  </div>
  <div class="col-md-7">
    <ul class="pull-right">
      <li class="hidden-xs" id="welcome">Welcome, <strong>{{$ctrl.session.getUsername()}}</strong></li>
      <li class="notf-width">
        <a href="#">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          <span class="label label-warning">3</span>
        </a>
      </li>
      <li class="notf-width">
        <a href="#">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <span class="label label-message">3</span>
        </a>
      </li>
      <li>
        <a href="" ng-click="$ctrl.Logout()">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Log out
        </a>
      </li>
    </ul>
  </div>
</header>