/*** VARIABLES ***/

/*font and colors*/

$base-font-size:15px;
$base-font-family:"open sans", "Helvetica Neue",Helvetica, Arial, Sans-Serif;
$base-font-color:#676a6c;
$base-background-color:#f3f3f4;
/*Background colors*/

$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #efeef2;
$dark-color: #333333;

/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../images/background1.jpg';

/* util */

.boxo{
	border:1px dotted red;
}