<app-header app="$ctrl.app"></app-header>

<h4>Citizenship by Descent</h4><br/>

<form class="form-horizontal">
<div class="row">
	<div class="col-md-6"	>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="appFirstName">First Name:</label>  
		  <div class="col-md-8">
		  <input id="appFirstName" name="appFirstName" type="text" placeholder="" class="form-control input-sm" ng-model="$ctrl.app.appFirstName">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="appMiddleNames">Middle Names:</label>  
		  <div class="col-md-8">
		  <input id="appMiddleNames" name="appMiddleNames" ng-model="$ctrl.app.appMiddleNames" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="appLastName">Last Name:</label>  
		  <div class="col-md-8">
		  <input id="appLastName" name="appLastName" ng-model="$ctrl.app.appLastName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="appDOB">Date of Birth:</label>  
		  <div class="col-md-8">

		  <input id="appDOB" name="appDOB"  type="text" class="form-control input-sm" date-time-picker format="{{$ctrl.DF.DATE_ONLY}}" ng-model="$ctrl.app.appDOB">
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
		  <label class="col-md-4 control-label" for="placeOfBirth">Place of Birth:</label>  
		  <div class="col-md-8">
		  <input id="placeOfBirth" ng-model="$ctrl.app.placeOfBirth" name="placeOfBirth" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
	</div>
</div>
<legend>Particulars of Parents</legend>
<fieldset>
<div class="row">
	<div class="col-md-6">
		<h5>Father</h5>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fatherFirstName">First Name:</label>  
		  <div class="col-md-8">
		  <input id="fatherFirstName" name="fatherFirstName" ng-model="$ctrl.app.fatherFirstName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fatherMiddleName">Middle Names:</label>  
		  <div class="col-md-8">
		  <input id="fatherMiddleName" name="fatherMiddleName" ng-model="$ctrl.app.fatherMiddleName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fatherLastName">Last Name:</label>  
		  <div class="col-md-8">
		  <input id="fatherLastName" name="fatherLastName" ng-model="$ctrl.app.fatherLastName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fatherPOB">Birthplace:</label>  
		  <div class="col-md-8">
		  <input id="fatherPOB" name="fatherPOB" ng-model="$ctrl.app.fatherPOB" type="text" placeholder="" class="form-control input-sm" >
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fatherDOB">DOB:</label>  
		  <div class="col-md-8">
		  <input id="fatherDOB" name="fatherDOB" ng-model="$ctrl.app.fatherDOB" type="text" class="form-control input-sm" data-provide="datepicker" data-date-format="dd/mm/yyyy">
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<h5>Mother</h5>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="motherFirstName">First Name:</label>  
		  <div class="col-md-8">
		  <input id="motherFirstName" name="motherFirstName" ng-model="$ctrl.app.motherFirstName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="motherMiddleName">Middle Names:</label>  
		  <div class="col-md-8">
		  <input id="motherMiddleName" name="motherMiddleName" ng-model="$ctrl.app.motherMiddleName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="motherLastName">Last Name:</label>  
		  <div class="col-md-8">
		  <input id="motherLastName" name="motherLastName" ng-model="$ctrl.app.motherLastName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="motherPOB">Birthplace:</label>  
		  <div class="col-md-8">
		  <input id="motherPOB" name="motherPOB" ng-model="$ctrl.app.motherPOB" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="motherDOB">DOB:</label>  
		  <div class="col-md-8">
		  <input id="motherDOB" name="motherDOB" ng-model="$ctrl.app.motherDOB" type="text" placeholder="" class="form-control input-sm" data-provide="datepicker" data-date-format="dd/mm/yyyy">
		  </div>
		</div>
	</div>
</div>
</fieldset>

<legend>Particulars of Grandparents</legend>
<fieldset>
<div class="row">
	<div class="col-md-6">
		<h5>Grandfather</h5>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandFatherFirstName">First Name:</label>  
		  <div class="col-md-8">
		  <input id="grandFatherFirstName" name="grandFatherFirstName" ng-model="$ctrl.app.grandFatherFirstName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandFatherMiddleName">Middle Names:</label>  
		  <div class="col-md-8">
		  <input id="grandFatherMiddleName" name="grandFatherMiddleName" ng-model="$ctrl.app.grandFatherMiddleName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandFatherLastName">Last Name:</label>  
		  <div class="col-md-8">
		  <input id="grandFatherLastName" name="grandFatherLastName" ng-model="$ctrl.app.grandFatherLastName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandFatherPOB">Birthplace:</label>  
		  <div class="col-md-8">
		  <input id="grandFatherPOB" name="grandFatherPOB" ng-model="$ctrl.app.grandFatherPOB" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandFatherDOB">DOB:</label>  
		  <div class="col-md-8">
		  <input id="grandFatherDOB" name="grandFatherDOB" ng-model="$ctrl.app.grandFatherDOB" type="text" class="form-control input-sm" data-provide="datepicker" data-date-format="dd/mm/yyyy">
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<h5>Grandmother</h5>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandMotherFirstName">First Name:</label>  
		  <div class="col-md-8">
		  <input id="grandMotherFirstName" name="grandMotherFirstName" ng-model="$ctrl.app.grandMotherFirstName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandMotherMiddleName">Middle Names:</label>  
		  <div class="col-md-8">
		  <input id="grandMotherMiddleName" name="grandMotherMiddleName" ng-model="$ctrl.app.grandMotherMiddleName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandMotherLastName">Last Name:</label>  
		  <div class="col-md-8">
		  <input id="grandMotherLastName" name="grandMotherLastName" ng-model="$ctrl.app.grandMotherLastName" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandMotherPOB">Birthplace:</label>  
		  <div class="col-md-8">
		  <input id="grandMotherPOB" name="grandMotherPOB" ng-model="$ctrl.app.grandMotherPOB" type="text" placeholder="" class="form-control input-sm">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="grandMotherDOB">DOB:</label>  
		  <div class="col-md-8">
		  <input id="grandMotherDOB" name="grandMotherDOB" ng-model="$ctrl.app.grandMotherDOB" type="text" placeholder="" class="form-control input-sm" data-provide="datepicker" data-date-format="dd/mm/yyyy">
		  </div>
		</div>
	</div>
</div>
</fieldset>
</form>