
<app-header app="$ctrl.app"></app-header>

<p>Renunciation Details</p>
<form>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
		  <label class="control-label" for="placeOfBirth">Place of birth:</label>  
		  <div>
		  <input id="placeOfBirth" name="placeOfBirth" type="text" class="form-control input-sm" ng-model="$ctrl.app.placeOfBirth">
		  </div>
		</div>
		<div class="form-group">
		  <label class="control-label" for="marriageStatus">Been married:</label>  
		  <div>
		  <input id="marriageStatus" name="marriageStatus" type="text" class="form-control input-sm" ng-model="$ctrl.app.marriageStatus">
		  </div>
		</div>
		<div class="form-group">
		  <label class="control-label" for="countryStatus">Country Status:</label>  
		  <div>
		  <input id="countryStatus" name="countryStatus" type="text" class="form-control input-sm" ng-model="$ctrl.app.countryStatus">
		  </div>
		</div>
		<div class="form-group"> <label for="statusCountry">Country:</label> 
			<select class="form-control" id="statusCountry" ng-model="$ctrl.app.statusCountry" ng-options="country as country.name for country in application.countries track by country.id">
				
			</select>
		</div>
		<div class="form-group">
		  <label class="control-label" for="renunciateionDate">Renunciation Date:</label>  
		  <div>
		  <input id="renunciateionDate" name="renunciateionDate" type="text" class="form-control input-sm" ng-model="$ctrl.app.renunciateionDate" data-provide="datepicker" data-date-format="dd/mm/yyyy">
		  </div>
		</div>
	</div>
</div>
</form>