<div>

<div class="row">
	<br/>
	<div class="col-md-12">
		<a href="#{{$ctrl.backUrl}}" class="btn btn-primary">Back</a>
		<button class="btn btn-danger" ng-click="$ctrl.claim()" ng-show="$ctrl.app.currentOwner===null" >Claim</button>
	</div>
	<br/>
		
<div class="col-lg-7 col-md-12">
	 <div class="dashboard-content-con">
	  	<header class="clearfix">
	      <h5 class="pull-left">{{$ctrl.app.applicationType}} APPLICATION</h5>
	      <h5 class="pull-right">{{("00000"+$ctrl.app.id).slice(-6)}}</h5>
	    </header>
		<app-summary app="$ctrl.app"></app-summary>
	 </div>
</div>


 <div class="col-lg-5 col-md-12">
<div class="dashboard-content-con">
 		<header class="clearfix">
        <h5 class="pull-left">ACTIVITIES</h5>
      </header>
		<app-activities app-id="$ctrl.app.id"
					app-owner="$ctrl.app.currentOwner" 
					activities="$ctrl.app.activities" 
					on-activity-updated="$ctrl.activityUpdated(app)"
					on-assign-officer="$ctrl.assignOfficer(officer)" >
		</app-activities>
	</div>
</div>

</div>	<!-- end row -->

	<modal-dlg 
	on-apply="$ctrl.save()" 
	m-id="ENTER_APP_DETAILS" 
	m-title="Enter Application Details" 
	m-height="calc(100vh - 210px)" 
	m-width="200px"
	apply-label="Save" 
	ng-if="$ctrl.app.state=='ENTER_APP_DETAILS'">
		<div ng-if="$ctrl.app.applicationType=='DESCENT'">
			<desc-form app="$ctrl.app"></desc-form>
		</div>
		
							
		<div ng-if="$ctrl.app.applicationType=='RENUNCIATION'">
			<renun-form app="$ctrl.app"></renun-form>
		</div>
	<modal-dlg>

</div> <!-- end form wrapper -->