  <form novalidate ng-submit="$ctrl.save()" class="panel panel-default" style="padding:10px;">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group"> <label for="source">Source:</label> 
				<select class="form-control input-sm" id="source" ng-model="$ctrl.app.source" ng-options="source as source.sourceName for source in $ctrl.sources track by source.id">
					
				</select>
			</div>
			<div class="form-group"> <label for="firstname">First Name:</label> <input
					type="text" class="form-control input-sm" id="firstname" ng-model="$ctrl.app.firstName">
			</div>
			<div class="form-group">
				<label for="middlenames">Middle Names:</label> <input type="text"
					class="form-control input-sm" id="middlenames" ng-model="$ctrl.app.middleName">
			</div>
			<div class="form-group">
				<label for="lastname">Last Name:</label> <input type="text"
					class="form-control input-sm" id="lastname" ng-model="$ctrl.app.lastName">
			</div>
	
			<label for="middlenames">Gender:</label>
			<div class="radio">
				<label> <input type="radio" name="gender" id="gender"
					value="M" ng-model="$ctrl.app.gender">Male
				</label> <label> <input type="radio" name="gender" id="gender"
					value="F" ng-model="$ctrl.app.gender">Female
				</label>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="birthdate">DOB</label> <input type="text" class="form-control input-sm" date-time-picker format="{{$ctrl.DF.DATE_ONLY}}"
						id="birthdate" placeholder="Date of birth" ng-model="$ctrl.app.birthDate">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="address1">Address:</label> 
				<input type="text" class="form-control input-sm" id="address1" ng-model="$ctrl.app.address1">
				<div style="padding:3px 0;">
					<input type="text" class="form-control input-sm" id="address2" ng-model="$ctrl.app.address2">
				</div>
				<input type="text" class="form-control input-sm" id="address3" ng-model="$ctrl.app.address3">
			</div>
				
			<div class="form-group"> <label for="source">Country:</label> 
				<select class="form-control input-sm" id="source" ng-model="$ctrl.app.country" ng-options="country as country.name for country in $ctrl.countries track by country.id">
					
				</select>
			</div>
			<div class="form-group">
				<label for="phone">Phone:</label> <input type="text"
					class="form-control input-sm" id="phone" ng-model="$ctrl.app.phone">
			</div>
			<div class="form-group">
				<label for="email">Email:</label> 
				<input type="text" class="form-control input-sm" id="email" ng-model="$ctrl.app.email">
			</div>
		</div>

	</div>
</form>