<div class="app-summary">
	<div>
	<div class="row">
		<div class="col-md-7">
			<Strong>Created:</Strong> {{$ctrl.app.creationDate}} (<span am-time-ago="$ctrl.app.creationDate | amParse:'DD-MM-YYYY hh:mm:ss'"></span>)<br/>
			<Strong>Source:</Strong> {{$ctrl.app.source.sourceName}}<br/>
			<Strong>Service Level:</Strong> Regular<br/>
		</div>
		<div class="col-md-5">
			<Strong>Case Officer:</Strong> {{$ctrl.getCaseOfficer()}}<br/>
			<Strong>Payment Receipt:</Strong> none<br/>
		</div>
	</div>
	</div>
	<hr/>
	<div class="clearfix">
		<div class="pull-left">
			<div id="pic-frame" ><img ng-src="{{$ctrl.photo}}"></img></div>
		</div>
		<div class="" style="margin-left:170px;background-color:rgb(249,249,249);padding:5px 0px 6px 10px">
			<header>{{$ctrl.getFullName()}}</header>
			<section>
			
					{{$ctrl.app.birthDate | dateOnly}}<br/>
					{{$ctrl.app.address1}}<br/>
					{{$ctrl.app.address2}}<br/>
					{{$ctrl.app.country.name}}<br/>
					<strong>Contact:</strong> {{$ctrl.app.phone}}
					<span ng-bind-html="$ctrl.getEmail()"></span>
			</section>
		</div>
	</div>
	<hr/>
	<div>
			<strong>Attachments</strong>
			<div ng-repeat="att in $ctrl.app.attachments">
				<div><a href="/api/applications/{{$ctrl.app.id}}/attachments/{{att.id}}">{{att.name}}</a></div>
			</div>
			
	</div>
	
	
</div>