	<div class="dashboard-content-con">
      <header class="clearfix">
        <h5 class="pull-left">{{$ctrl.title}}</h5>
        <a class="btn btn-primary btn-sm pull-right" href="#/new_application" role="button">Create New</a>
      </header>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Type</th>
			<th>Created</th>
			<th>Activity</th>
			<th>Sequence</th>
			<!--th>Owner</th -->
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="application in $ctrl.applications">
			
			<td>{{application.firstName}}</td>
			<td>{{application.lastName}}</td>
			<td>{{application.applicationType}}</td>
			<td>{{application.creationDate}}</td>
			<td>{{$ctrl.getStateDesc(application.state)}}</td>
			<td>{{application.id}}</td>
			<!--td>{{application.currentOwner}}</td-->
			<td>
				<a href="#/application/{{application.id}}" class="btn btn-xs btn-success">Open</a>
			</td>
		</tr>
		
	</tbody>
</table>
</div>