.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 0px;
  color: inherit;
  display: block;
  padding: 1px 12px;
  width: 100%;
  font-size: 14px;
  box-shadow: none;
}