/************* FOOTER  	************/
#admin-footer{/*position absolute positions footer relative to body/viewport since no ancestor has non-static positioning*/
	bottom:0;
	position:absolute;
	background-color: #fff;
	width:100%;
	padding:10px;
	font-size:12px;
	color:#676a6c;
}