/******************* OVERALL LAYOUT **********************/
/* table display necessary to allow left menu to grow with content area*/
.display-table{
	display:table;
	padding:0;	/*to get rid of space to left of menu and right of content*/
	height:100%;
	width:100%;
}

.display-table-row{
	display:table-row;
	height: 100%;
}

.display-table-cell{
	display:table-cell;
	height:100%;
	float:none;	
}

.valign-top{
	vertical-align: top;	/* takes care of gap at top of main content*/
}

#nav-header{
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header #header-search-field{
	padding-top:17px;
	vertical-align: center;
	border:none;
	width:300px;
	outline:none;
}