/*****************  SIDE MENU  *******************/
#side-menu{
	background-color: #2f4050;
	padding:0;
	height:100%;
}

#side-menu h1{
	color:#1f3647;
	text-align: center;
	margin: 10px 0px;
	font-size:25px;
}

#side-menu ul{
	list-style: none;
	margin:0;
	padding:0;
}

#side-menu a{
	padding:12px 20px;
	text-decoration: none;
	color:#9fd1c2;
	font-weight:bold;
	font-size:13px;
	display:block;	/* to untangle items that stuck together due to inline nature of li*/
	/*not that display:block also stretches anchor to the end of the container*/
}

#side-menu .glyphicon{
	margin-right:6px;
}

#side-menu a:hover{
	background-color: #293846;
	color:#fff;
	display:block;	/* not sure if needed */
}

#side-menu a.active{
	background-color: #293846;
	color:#fff;
}

#side-menu .collapseable li{
	padding-left:20px;
	padding-top:5x;
}
#side-menu .collapseable a{
	color:#9fb1c2;
	font-size:12px;
	padding: 0px 10px;
	text-decoration: none;
	display:block;
}

#side-menu .collapseable a:hover{
	color:#fff;
}
#side-menu .collapseable{
	border-left: 4px solid #1ab394;
	background-color:#293846 
}
#side-menu .link > ul > li{
	padding-bottom:10px;
}

#side-menu-hide{
	width:0;
	display: none;
}