/**************** TOP NAVIGATING *****************/
#nav-header ul{
	margin:0;
	padding:0;
	list-style: none;
	color:#676a6c;
}

#nav-header ul li{	/* could have used bootstraps list-inline for this to display horizontally*/
	float:left;
	margin-left:15px;
	padding:17px 0px;
}

#nav-header ul .glyphicon{
	color:#676a6c;
}

.label-message{
	background-color: #1ab397;
}

#nav-header ul a{
	text-decoration: none;
}

#nav-header .logout{
	color:#676a6c;
}
#nav-header .logout:hover{
	color:#676a6c;
}

#nav-header #welcome{
	margin-right: 30px;
}

#nav-header ul .label{	/*to position notification counters above/left of icons */
	position:absolute;
	margin-top:-10px;
	margin-left:-5px;

}
#nav-header li.notf-width{
	width:35px;
}

/***** navabar show/hide button *****/
.navbar-default{
	background-color: #fff; 	/*to fix discoloration when pull-left is used*/
}

.navbar-default .navbar-toggle{
	border-color: #1ab394;
	background-color: #1ab394;
}
.navbar-default .icon-bar{
	border: 1px solid #fff;
}

.navbar-default .navbar-toggle:hover{
	background-color: #1ab394;
}

.navbar-default .navbar-toggle:focus{
	background-color: #1ab394;
}