/* 
MyApp bootstrap sass theme
Author: Edmund Mendez
Version: 1
*/

/* Base -  Base styles, vairables, mixins etc*/
@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_normalize.scss';
@import 'base/_base.scss';

/*Modules - blocks, buttons, sections, typography etc..*/
@import 'modules/_typography.scss';
@import 'modules/_blocks.scss';
@import 'modules/_buttons.scss';
@import 'modules/_sections.scss';
@import 'modules/_components.scss';
@import 'modules/_forms.scss';

/* Layouts - Header, Footer, Navigation*/
@import 'layouts/_layout.scss';
@import 'layouts/_topbar.scss';
@import 'layouts/_footer.scss';
@import 'layouts/_menu.scss';


/******** DASHBOARD STYLES **********/

.dashboard-content-con{
	margin-top:20px;
	background-color: #fff;
	//border-top:4px solid #e7eaec;
	@include add-border(8px,#e7eaec,'top');
	padding:15px;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);

	header{
		margin-bottom:20px;
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;

		h5{
			margin:0;
			padding-top:3px;
			font-weight:bold;
		}
	} 
  
}

/*
.dashboard-content-con header{
	margin-bottom:20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
} 

header h5{
	margin:0;
	padding-top:3px;
	font-weight:bold;
}
*/

.text-link{
	color:#676a6c;
}

.text-link:hover{
	color:#676a6c;
}

.commenter-name-dash{
	font-weight:bold;
	size:13px;
}

.comment-head-dash{
	margin-bottom:6px;
}

.comment-dash{
	margin-bottom: 5px
}
.comment-date-dash{
	color:#999;
}

/* file uploader */
.file-selector #file-disp{
	padding:5px;
	border:1px solid rgb(65,65,65);
	border-radius:3px; /*remmber to do for aother vendors - will fix with convert to SASS*/
	background-color:rgb(65,65,65);
	color:rgb(233,233,233);
	font-size:11px;
}
.file-selector #file-disp a{
	background-color:rgb(85,85,85);
	padding:0 3px;
	color:white;
}
.file-selector #file-disp a:hover{
	background-color:rgb(115,115,115);
	text-decoration:none;
}

/****** Activity *********/
.completed-activity  header{
	font-weight:bold;
	border:0;
	padding:0;
	margin:0;
	font-size:15px;
}

.completed-activity section{
	font-size:12px;
}
.completed-activity .details{
	border-top:1px solid rgb(230,230,230);
	background:rgb(255,255,255);
	padding:8px;
	margin-bottom:0px;
	width:100%;
	padding-left:40px;
}

.completed-activity .well{
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
}

.current-activity{
	padding:0 15px 15px 0px;
	background-color:rgb(249,249,249);
	margin-bottom:15px;
	padding:10px;
}

/**** Appilcation summary****/
.app-summary{ 

	#pic-frame{
		height:150px;
		width:150px;
		border: 1px solid rgb(240,240,240);
		background-repeat: no-repeat;
		background-position: center;
	}

	img{
		//height:148px;
		//width:148px;
		width: 100%;
		height:100%;
		padding:5px;
		margin:auto;
	}

	header{
		border:0;
		//pading:0;
		font-weight:bold;
		font-size:20px;
		margin:0;
	} 
	
}