/* 
MyApp bootstrap sass theme
Author: Edmund Mendez
Version: 1
*/
/* Base -  Base styles, vairables, mixins etc*/
/*** VARIABLES ***/
/*font and colors*/
/*Background colors*/
/* Showcase Area */
/* util */
/* line 23, ../../app/styles/base/_variables.scss */
.boxo {
  border: 1px dotted red;
}

/*** MIXINS ***/
/*** NORMALIZE ***/
/* line 2, ../../app/styles/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 6, ../../app/styles/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 10, ../../app/styles/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 1, ../../app/styles/base/_base.scss */
html, body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #f3f3f4;
  color: #676a6c;
  height: 100%;
}

/* line 8, ../../app/styles/base/_base.scss */
button, .btn, .modal-content {
  border-radius: 0px;
}

/*Modules - blocks, buttons, sections, typography etc..*/
/* line 1, ../../app/styles/modules/_forms.scss */
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 0px;
  color: inherit;
  display: block;
  padding: 1px 12px;
  width: 100%;
  font-size: 14px;
  box-shadow: none;
}

/* Layouts - Header, Footer, Navigation*/
/******************* OVERALL LAYOUT **********************/
/* table display necessary to allow left menu to grow with content area*/
/* line 3, ../../app/styles/layouts/_layout.scss */
.display-table {
  display: table;
  padding: 0;
  /*to get rid of space to left of menu and right of content*/
  height: 100%;
  width: 100%;
}

/* line 10, ../../app/styles/layouts/_layout.scss */
.display-table-row {
  display: table-row;
  height: 100%;
}

/* line 15, ../../app/styles/layouts/_layout.scss */
.display-table-cell {
  display: table-cell;
  height: 100%;
  float: none;
}

/* line 21, ../../app/styles/layouts/_layout.scss */
.valign-top {
  vertical-align: top;
  /* takes care of gap at top of main content*/
}

/* line 25, ../../app/styles/layouts/_layout.scss */
#nav-header {
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
}

/* line 30, ../../app/styles/layouts/_layout.scss */
#nav-header #header-search-field {
  padding-top: 17px;
  vertical-align: center;
  border: none;
  width: 300px;
  outline: none;
}

/**************** TOP NAVIGATING *****************/
/* line 2, ../../app/styles/layouts/_topbar.scss */
#nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #676a6c;
}

/* line 9, ../../app/styles/layouts/_topbar.scss */
#nav-header ul li {
  /* could have used bootstraps list-inline for this to display horizontally*/
  float: left;
  margin-left: 15px;
  padding: 17px 0px;
}

/* line 15, ../../app/styles/layouts/_topbar.scss */
#nav-header ul .glyphicon {
  color: #676a6c;
}

/* line 19, ../../app/styles/layouts/_topbar.scss */
.label-message {
  background-color: #1ab397;
}

/* line 23, ../../app/styles/layouts/_topbar.scss */
#nav-header ul a {
  text-decoration: none;
}

/* line 27, ../../app/styles/layouts/_topbar.scss */
#nav-header .logout {
  color: #676a6c;
}

/* line 30, ../../app/styles/layouts/_topbar.scss */
#nav-header .logout:hover {
  color: #676a6c;
}

/* line 34, ../../app/styles/layouts/_topbar.scss */
#nav-header #welcome {
  margin-right: 30px;
}

/* line 38, ../../app/styles/layouts/_topbar.scss */
#nav-header ul .label {
  /*to position notification counters above/left of icons */
  position: absolute;
  margin-top: -10px;
  margin-left: -5px;
}

/* line 44, ../../app/styles/layouts/_topbar.scss */
#nav-header li.notf-width {
  width: 35px;
}

/***** navabar show/hide button *****/
/* line 49, ../../app/styles/layouts/_topbar.scss */
.navbar-default {
  background-color: #fff;
  /*to fix discoloration when pull-left is used*/
}

/* line 53, ../../app/styles/layouts/_topbar.scss */
.navbar-default .navbar-toggle {
  border-color: #1ab394;
  background-color: #1ab394;
}

/* line 57, ../../app/styles/layouts/_topbar.scss */
.navbar-default .icon-bar {
  border: 1px solid #fff;
}

/* line 61, ../../app/styles/layouts/_topbar.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #1ab394;
}

/* line 65, ../../app/styles/layouts/_topbar.scss */
.navbar-default .navbar-toggle:focus {
  background-color: #1ab394;
}

/************* FOOTER  	************/
/* line 2, ../../app/styles/layouts/_footer.scss */
#admin-footer {
  /*position absolute positions footer relative to body/viewport since no ancestor has non-static positioning*/
  bottom: 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: #676a6c;
}

/*****************  SIDE MENU  *******************/
/* line 2, ../../app/styles/layouts/_menu.scss */
#side-menu {
  background-color: #2f4050;
  padding: 0;
  height: 100%;
}

/* line 8, ../../app/styles/layouts/_menu.scss */
#side-menu h1 {
  color: #1f3647;
  text-align: center;
  margin: 10px 0px;
  font-size: 25px;
}

/* line 15, ../../app/styles/layouts/_menu.scss */
#side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 21, ../../app/styles/layouts/_menu.scss */
#side-menu a {
  padding: 12px 20px;
  text-decoration: none;
  color: #9fd1c2;
  font-weight: bold;
  font-size: 13px;
  display: block;
  /* to untangle items that stuck together due to inline nature of li*/
  /*not that display:block also stretches anchor to the end of the container*/
}

/* line 31, ../../app/styles/layouts/_menu.scss */
#side-menu .glyphicon {
  margin-right: 6px;
}

/* line 35, ../../app/styles/layouts/_menu.scss */
#side-menu a:hover {
  background-color: #293846;
  color: #fff;
  display: block;
  /* not sure if needed */
}

/* line 41, ../../app/styles/layouts/_menu.scss */
#side-menu a.active {
  background-color: #293846;
  color: #fff;
}

/* line 46, ../../app/styles/layouts/_menu.scss */
#side-menu .collapseable li {
  padding-left: 20px;
  padding-top: 5x;
}

/* line 50, ../../app/styles/layouts/_menu.scss */
#side-menu .collapseable a {
  color: #9fb1c2;
  font-size: 12px;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
}

/* line 58, ../../app/styles/layouts/_menu.scss */
#side-menu .collapseable a:hover {
  color: #fff;
}

/* line 61, ../../app/styles/layouts/_menu.scss */
#side-menu .collapseable {
  border-left: 4px solid #1ab394;
  background-color: #293846;
}

/* line 65, ../../app/styles/layouts/_menu.scss */
#side-menu .link > ul > li {
  padding-bottom: 10px;
}

/* line 69, ../../app/styles/layouts/_menu.scss */
#side-menu-hide {
  width: 0;
  display: none;
}

/******** DASHBOARD STYLES **********/
/* line 30, ../../app/styles/default.scss */
.dashboard-content-con {
  margin-top: 20px;
  background-color: #fff;
  border-top: 8px solid #e7eaec;
  padding: 15px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
}
/* line 38, ../../app/styles/default.scss */
.dashboard-content-con header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
/* line 43, ../../app/styles/default.scss */
.dashboard-content-con header h5 {
  margin: 0;
  padding-top: 3px;
  font-weight: bold;
}

/*
.dashboard-content-con header{
	margin-bottom:20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
} 

header h5{
	margin:0;
	padding-top:3px;
	font-weight:bold;
}
*/
/* line 66, ../../app/styles/default.scss */
.text-link {
  color: #676a6c;
}

/* line 70, ../../app/styles/default.scss */
.text-link:hover {
  color: #676a6c;
}

/* line 74, ../../app/styles/default.scss */
.commenter-name-dash {
  font-weight: bold;
  size: 13px;
}

/* line 79, ../../app/styles/default.scss */
.comment-head-dash {
  margin-bottom: 6px;
}

/* line 83, ../../app/styles/default.scss */
.comment-dash {
  margin-bottom: 5px;
}

/* line 86, ../../app/styles/default.scss */
.comment-date-dash {
  color: #999;
}

/* file uploader */
/* line 91, ../../app/styles/default.scss */
.file-selector #file-disp {
  padding: 5px;
  border: 1px solid #414141;
  border-radius: 3px;
  /*remmber to do for aother vendors - will fix with convert to SASS*/
  background-color: #414141;
  color: #e9e9e9;
  font-size: 11px;
}

/* line 99, ../../app/styles/default.scss */
.file-selector #file-disp a {
  background-color: #555555;
  padding: 0 3px;
  color: white;
}

/* line 104, ../../app/styles/default.scss */
.file-selector #file-disp a:hover {
  background-color: #737373;
  text-decoration: none;
}

/****** Activity *********/
/* line 110, ../../app/styles/default.scss */
.completed-activity header {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

/* line 118, ../../app/styles/default.scss */
.completed-activity section {
  font-size: 12px;
}

/* line 121, ../../app/styles/default.scss */
.completed-activity .details {
  border-top: 1px solid #e6e6e6;
  background: white;
  padding: 8px;
  margin-bottom: 0px;
  width: 100%;
  padding-left: 40px;
}

/* line 130, ../../app/styles/default.scss */
.completed-activity .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
}

/* line 140, ../../app/styles/default.scss */
.current-activity {
  padding: 0 15px 15px 0px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 10px;
}

/**** Appilcation summary****/
/* line 150, ../../app/styles/default.scss */
.app-summary #pic-frame {
  height: 150px;
  width: 150px;
  border: 1px solid #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 158, ../../app/styles/default.scss */
.app-summary img {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: auto;
}
/* line 167, ../../app/styles/default.scss */
.app-summary header {
  border: 0;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

/*# sourceMappingURL=default.css.map */